body {
	font-size: 16px;
	color: #fff;
	background-color: #ffffff;
	font-family: 'Oxygen', sans-serif;
}
.row {
    width: 100%;
    align-content: center;
}

#header-nav {
	background-color: #888888;
	border-radius: 0;
	border: 2px solid #080808;
}
.navbar-brand h1 {
	font-family: 'Oxygen', sans-serif;
	color: #080808;
	font-size: 1.6em;
	font-weight: bold;
    margin: auto;
	text-align: left;
}

h2 {
	color: #080808;
	text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 5px;
}

#nav-list {
	margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #080808;
    background: #fff;
}
#nav-list a {
	color: #080808;
    border: 1.5px solid #080808;
	text-align: center;
}
#nav-list a:hover {
	background: #888888;
}
#nav-list a span {
	font-size: 1.6em;
    background: #fff;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #080808;
    background-color: #080808;
}

.navbar-header button.navbar-toggle {
	clear: both;
    border: 1.5px solid #080808;
	margin-top: -50px;
    background: #888888;
}
.navbar-brand p {
	color: #000;
	font-size: 0.7em;
	margin-top: 15px;
}

#Chicken-tile, #Beef-tile, #Sushi-tile {
	height: 500px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	background-color: #888888;
	color: #080808;
	text-align: left;
	background-position: center;
    overflow: auto;
    
}

#Chicken-tile span, #Beef-tile span, #Sushi-tile span {
	position: absolute;
    margin-top: 10px;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	color: #080808;
    font-weight: bold;
}

p {
	position: relative;
    margin-top: 30px;
    padding: 20px;
	width: 100%;
	text-align: left;
	font-size: 1em;
	color: #080808;
}


/**Large devices**/
@media (min-width: 1200px) {
	.navbar-brand h1 {
        position:absolute;
        top: 15%;
	}
}

/**Medium devices**/
@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-brand h1 {
        position:absolute;
        top: 15%;
	}
}

/**Small devices**/
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-brand h1 {
        position:absolute;
        top: 15%;
	}
}

/**Extra small devices**/
@media (max-width: 767px) {

	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1 {
        position:relative;
        top: 30%;
	}

	#collapsable-nav a {
		font-size: 1.2em;
	}

	#collapsable-nav a span {
		font-size: 1em;
		margin-right: 5px;
	}
	#call-btn > a {
		font-size: 1.5em;
		display: block;
		margin: 0 20px;
		padding: 10px;
		border: 2px solid #fff;
		background-color: #f6b319;
		color: #951c49;
	}
	#xs-deliver {
		margin-top: 5px;
		font-size: .7em;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
	.container .jumbotron {
		margin-top: 30px;
		padding: 0;
	}
	#Chicken-tile, #Beef-tile, #Sushi-tile {
		width: 360px;
		margin: 0 auto 15px;
	}
}

/**Super Extra small devices**/
@media (max-width: 479px) {
	.navbar-brand h1 {
        position:relative;
        top: 25%;
	}
}
